<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Test for SVG Contents</title>
</head>
<body>
    <h2>YouTube Embed</h2>
    <div style="width: 500px;">
        {% youtube "-ugZb-o0l0s" %}
    </div>

    <h2>Codepen Embed</h2>
    {% codepen "http://codepen.io/brob/pen/vGRBeQ/", {"tabs": "css,result", "height": "500", "theme":"26704"} %}

</body>
</html>