<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Test for SVG Contents</title>
</head>
<body>

{{ content | safe }}

{% if sortField %}
    <h3>Related posts</h3>
    {% for post in collections.pluginPosts | related("sortField", sortField, 1) %}
        {{ post.data.title }}
    {% endfor %}
{% else %}
    <h3>Limited Posts</h3>
    {% for post in collections.pluginPosts | limit(2) %}
        <li>{{ post.data.title }}</li>
    {% endfor %}
{% endif %}

</body>
</html>